
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_container">
    <div>
        <h1>About Us</h1>
        <p id="abouttext">
            <img src="~/Content/mining.jpg" id="aboutimg" />
            Since 2010 POWERCO has been a distributor of heavy construction and aggregate equipment serving the construction, mining and aggregate industries.
            POWERCO operates full service facilities located in Denver, Grand Junction, Colorado Springs, Casper and Albuquerque. POWERCO operates a full service facility in Salt Lake City. All locations provide equipment rentals and sales as well as complete parts and service support for all of our product lines (see complete list of our lines below). We pride ourselves in our commitment to our customers and are dedicated to supporting your equipment now and in the future in order to guarantee your success.
        </p>
        <br />
        <h1>Our Mission, Vision and Values</h1>
        <div id="abouttext">
            <p>Much more than equipment. As a leading distributor of heavy equipment our mission is to advise and supply industrial, commercial and public-utility companies with the products that best suit their needs and allow them to carry out their work with maximum efficiency.</p>
            <p>POWERCO distributes the best-known brands on the market and clients have the option of buying, renting or leasing the equipment they require.</p>
            <p>Complete customer satisfaction is our first and foremost priority. We do everything we can to meet customer needs and expectations. To achieve this we rely on the competence and involvement of each of our employees, especially our highly reliable Parts & Service Department, who strive to provide the highest quality service and to be the leader in Product Support.</p>
            <p>In order to deliver our mission we apply the following service standards:</p>
            <ul>
                <li>Consideration</li>
                <li>Professional Advice</li>
                <li>Proactivity</li>
                <li>Flexibility</li>
                <li>Ease</li>
                <li>Respecting our commitment</li>
            </ul>
        </div>
    </div>
</div>

