
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_container">
    <div style="padding:20px">
        <h1 style="text-align:center">Our Headquarters</h1>
        <br />
        <p>Bridgeton Ave, Bridgeton, NJ 08302 USA</p>
        <p>
            Phone:
            <a href="skype:+733142915288?call">+733142915288</a>
        </p>
        <p>
            Email:
            <a href="mailto:abc@abc.com">support@powerco.com</a>
        </p>
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3081.0485489267135!2d-75.22663248512798!3d39.44563467948982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c73bde268813c9%3A0xace0b81c49c12a8c!2zQnJpZGdldG9uIEF2ZSwgQnJpZGdldG9uLCBOSiAwODMwMiwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1468849148635" width="800" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h1 style="text-align:center">Our office in Ukraine</h1>
        <br />
        <p>Bridgeton Ave, Bridgeton, NJ 08302 USA</p>
        <p>Phone: (314)291-5288</p>
        <p>Email: support@powerco.com</p>
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.3481349713256!2d30.52456441532377!3d50.45324157947577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce4fd283fb39%3A0x29a0909011e2754a!2zVWtyYWluc2tpeSBkb20sINCy0YPQu9C40YbRjyDQpdGA0LXRidCw0YLQuNC6LCAyLCDQmtC40ZfQsiwgMDEtMDAx!5e0!3m2!1sru!2sua!4v1468596333223" width="800" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

