
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_container">
    <h1 align="center"> Our Team </h1>
    <table>
        <tr>
            <td>
                <p align="center"> <img class="imsize" width="200" height="200" src="~/Content/pers.png" /> </p>
            </td>
            <td>
                <div class="THeading">
                    <div>
                        <h1>
                            James Willson
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </h1>
                    </div>
                    <h2>Owner</h2>
                </div>
                <br />
                <div class="TContent">
                    <p>James Willson is the Founder & CEO of POWERCO, Inc. The employee-ownership philosophy and entrepreneurial spirit Mr.Willson established at POWERCO, Inc. has been the primary reason for the tremendous growth since its inception in 2010.</p>

                    <p>James Willson holds both Bachelor's and Master's degrees in engineering from the University of Southern California and Virginia Tech, respectively. He is a graduate of the Harvard Business School Owner/President Management (OPM) Program and earned a Master in Public Administration (MPA) degree at Harvard's Kennedy School of Government. Complementing his academic achievements, Mr. Willson is a Board Member of both profit and non-profit organizations including the University of Southern California's Viterbi School of Engineering.</p>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="THeading">
                    <div>
                        <h1>
                            Arnold Fith
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </h1>
                    </div>
                    <h2>Co-Founder & VP of Engineering </h2>
                </div>
                <br />
                <div class="TContent">
                    <p>Arnold brings over a decade of accomplishments in the energy industry to the POWERCO team. While with BP, Adam served as facilities engineer and project manager for multi-billion dollar oil and gas projects located in the UK, Norway and Azerbaijan, where he evaluated waste-heat recovery projects on simple cycle gas turbines. Adam has also held engineering positions with Shell, Rolls-Royce Turbines and British Nuclear Fuels. Arnold is a UK Chartered Engineer and a Corporate Member of the Institute of Mechanical Engineers, UK. He holds an M.B.A. from the Haas School of Business at UC Berkeley, as well as a Master’s in Mechanical Engineering from the University of Sheffield, UK.</p>
                </div>
            </td>
            <td>
                <p align="center"> <img class="imsize" width="200" height="200" src="~/Content/pers.png" /> </p>
            </td>
        </tr>
    </table>
</div>

