.mpull-right {
    float: right !important;
}

img.imsize {
    width: 35%;
    height: 35%;
}

/*#region carousel*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.modal-content {
    width: 600px !important;
    margin: 190px auto !important;
}

#container {
    margin: 0 auto;
}

/*#endregion*/

/*#region navbar*/

nav {
    background-color: #000000;
}

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

        nav ul li {
            display: inline-block;
            background-color: #000000;
        }

    nav a {
        display: block;
        padding: 0 10px;
        color: goldenrod;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: #433E3E;
            color: white;
            text-decoration: none;
        }

    /* Hide Dropdowns by Default */
    nav ul ul {
        display: none;
        position: absolute;
        z-index: 1000;
    }

    /* Display Dropdowns on Hover */
    nav ul li:hover > ul {
        display: inherit;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        float: none;
        display: list-item;
        position: relative;
    }

    /* Second, Third and more Tiers	*/
    nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
    }

/*#endregion*/

#bodycontainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutimg {
    max-width: 45%;
    width: auto;
    max-height: 32%;
    height: 32%;
    float: left;
    margin: 20px 20px 0 20px;
}

#abouttext {
    text-align: justify;
    line-height: 2.5;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
}

.gold {
    color: #FFBF00;
}

